<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="py-5">
      <div class="container page-content">        
        <div class="modal-body">
         <form name="formBasic" id="formBasic">
         <input type="hidden" name="function" value="basic-form">
         </form>
        </div>
        <div class="row justify-content-center">
        <button type="button" class="btn btn-primary" id="basic-submit">HELLO WORLD!</button>
        </div>
      </div>
    </div>
  </body>
  
<script>
$(document).ready(function () {
var formBasic = function () {
    var formData = $("#formBasic").serialize();
    $.ajax({

        type: 'get',
        data: formData,
        dataType: 'json',
        url: 'https://test_placeholder',

        error: function () {
            // alert("There was an error processing this page.");
            return false;
        },

        complete: function (output) {
        	// alert(output);            
        }
    });
    return false;
};

   $("#basic-submit").on("click", function (e) {
   e.preventDefault();
   formBasic();
});
});
</script>

</html>
