<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

<!--     {%- include header.html -%} -->

    <div class="py-5">
      <div class="container page-content">
        
        <div class="modal-body">
         <form name="formBasic" id="formBasic">
         <input type="hidden" name="function" value="basic-form">
         </form>
        </div>
        <button type="button" class="btn btn-primary" id="basic-submit">HELLO WORLD!</button>
        
<!--           {{ content }} -->
      </div>
    </div>

<!--     {%- include footer.html -%} -->

  </body>

</html>
